<p id="notice"><%= notice %></p>

<%= image_tag @game.image_url %>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer %>
</p>

<p>
  <strong>Releaseyear:</strong>
  <%= @game.releaseYear %>
</p>

<%= link_to 'Edit', edit_game_path(@game), class: "btn btn-link" %> |
<%= link_to 'Back', games_path, class: "btn btn-link" %>
